.popupNavigation__button {
  background-color: transparent;
  color: white;
  border: 1px solid;
  border-radius: 100px;
  position: relative;
  min-width: 90%;
  min-height: 56px;
  margin: 0 16px 24px;
}

.popupNavigation__button:hover {
  cursor: pointer;
}
