.popupWithForm__registered-link {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #2f71e5;
}

.popupWithForm__registered-link:hover {
  cursor: pointer;
}
