.savedNewsHeader__title {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 0 0 28px;
}

@media screen and (max-width: 882px) {
  .savedNewsHeader__title {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 16px;
  }
}

@media screen and (max-width: 590px) {
  .savedNewsHeader__title {
    font-size: 12px;
    line-height: 24px;
    margin: 0 0 16px;
  }
}
