.about__text {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 24px;
}

@media screen and (max-width: 882px) {
  .about__text {
    margin: 0 0 16px;
  }
}
