.search-form__button {
  min-width: 168px;
  min-height: 64px;
  background-color: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  border: none;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-left: -166px;
  padding: 0;
}

.search-form__button:hover {
  cursor: pointer;
  background-color: #347eff;
}

.search-form__button:focus {
  background-color: #2a65cc;
}

@media screen and (max-width: 590px) {
  .search-form__button {
    min-height: 56px;
    min-width: 288px;
    margin: 16px auto 32px;
  }
}
