@import url(./NewsCard__image.css);
@import url(./NewsCard__category.css);
@import url(./NewsCard__message.css);
@import url(./NewsCard__message.css);
@import url(./NewsCard__action-button.css);
@import url(./NewsCard__article.css);
@import url(./NewsCard__date.css);
@import url(./NewsCard__title.css);
@import url(./NewsCard__text.css);
@import url(./NewsCard__source.css);

.newsCard {
  min-height: 576px;
  max-width: 400px;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  background-color: white;
  margin: 0;
}

@media screen and (max-width: 882px) {
  .newsCard {
    min-height: 420px;
    max-width: 224px;
  }
}

@media screen and (max-width: 500px) {
  .newsCard {
    min-height: 440px;
    max-width: 288px;
  }
}
