.newsCard__action-button {
  position: absolute;
  top: 24px;
  right: 24px;
  min-width: 40px;
  min-height: 40px;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding-top: 5px;
}

.newsCard__action-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 882px) {
  .newsCard__action-button {
    top: 8px;
    right: 8px;
  }
}

@media screen and (max-width: 500px) {
  .newsCard__action-button {
    top: 16px;
    right: 16px;
  }
}
